

<br />

<table>
    <tr>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="1">1</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="2">2</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="3">3</button></th>
    </tr>
    <tr>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="4">4</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="5">5</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="6">6</button></th>
    </tr>
    <tr>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="7">7</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="8">8</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="9">9</button></th>
    </tr>
    <tr>
        <th><button onclick="cleanAll();" type="button" class="btn btn-primary" style='width:100px; height:100px'>Borrar todo</button></th>
        <th><button type="button" class="btn btn-primary" style='width:100px; height:100px' value="0">0</button></th>
        <th><button onclick="clean();" type="button" class="btn btn-primary" style='width:100px; height:100px'>Borrar</button></th>
    </tr>
</table>

<br />